.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.MuiListItemIcon-root{
  min-width: 30px !important;
}

.MuiInput-input,.MuiFormControl-root {
  width: max-content;
  width: -webkit-fill-available;
  margin: 20px 0px 0px !important;
}

.noMarginTop.MuiInput-input,.noMarginTop.MuiFormControl-root {
  margin-top: 0px !important;
}
.login-link{
  text-decoration: none;
  padding: 2px 5px;
}
.login-link:hover{
  background-color: #b4efff;
  border-radius: 10px;
}

textarea{
  width: max-content;
  width: -webkit-fill-available;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-login{
  background: 
  #b10000 -webkit-gradient(linear,left top,left bottom,from(rgba(245, 111, 111, 0.8)),to(rgba(255,255,255,0)))
}